---
---

@import "{{ site.theme }}";

// @media only screen and (min-width: 1025px) {
//   section {
//     width:70%;
//     position: relative;
//   }
// } 

img {
  border-radius: 5px;
  // width:60%;
  // height:60%;
}

h1 {
  color: black;
}

a {
  // color: #c7950c; // yellow
  color: #820e0e; // dark red
}

a:hover {
  color: #c7950c;
}
